@page "/play"
@using GameModel
@inject IJSRuntime JS

<h3>Load Game</h3>
<InputFile OnChange="LoadPack" />

@if (Data != null)
{
    <div><b>Starting Room:</b> @Data.StartingRoomId</div>
    <ul>
        @foreach (var room in Data.Rooms.Values)
        {
            <li>@room.Name: @room.Description</li>
        }
    </ul>
}

@code {
    private GameData? Data;

    private async Task LoadPack(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var stream = file.OpenReadStream();
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        Data = PackLoader.LoadFromBytes(ms.ToArray());
    }
}
