@page "/editor"

@using GameEditor.Client.Components.Dialogs
@using GameEditor.Client.Components.FormFields
@using GameModel.Models
@using GameModel.Helpers
@using Radzen
@using Radzen.Blazor

@inject IGamePackService GamePackService
@* If/when you wire up a Radzen modal for editing:
@inject DialogService DialogService *@

<h3>Game Elements</h3>

<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Players">
            <GameElementsTable 
                               Title="Players"
                               Items="GamePackService.Current!.Players.Values"
                               ShowCreate="true"
                               CreateText="New Player"
                     />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Scenes">
            <GameElementsTable Title="Scenes"
                               Items="GamePackService.Current!.Scenes.Values"
                               ShowCreate="true"
                               CreateText="New Scene" />
        </RadzenTabsItem>


        <RadzenTabsItem Text="Items">
            <GameElementsTable 
                               Title="Items"
                               Items="GamePackService.Current!.Items.Values"
                               ShowCreate="true"
                               CreateText="New Item"
                               />
        </RadzenTabsItem>

        <RadzenTabsItem Text="NPCs">
            <GameElementsTable 
                               Title="NPCs"
                               Items="GamePackService.Current!.Npcs.Values"
                               ShowCreate="true"
                               CreateText="New NPC"/>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {
}
