@page "/"
@inject NavigationManager Nav
<PageTitle>Home</PageTitle>

<h1>Game Splash Screen</h1>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        Nav.NavigateTo("/map", forceLoad: true);
    }
}

