@page "/packs"
@using GameEditor.Client.Data
@inject IGamePackService GamePackService

<h3>Game Packs</h3>

<ul>
    @foreach (var record in packs)
    {
        <li>@record.Pack.Id - @record.Pack.Title</li>
    }
</ul>

<button @onclick="LoadPacks">Refresh</button>

@code {
    private List<GamePackRecord> packs = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadPacks();
    }

    private async Task LoadPacks()
    {
        packs = await GamePackService.ReadAllAsync();
    }
}
